/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

#region {
    -fx-background-color: lightblue;
    -fx-background-radius: 6;
    -fx-background-insets: 10;
}